*.o
*.a
.lastmake*
*.mod
*.so
*.d
*.f90

*nettiles*yaml
*proctiles*yaml

AMG-1.1/test/amg

milc_qcd-7.8.0/*/localmake
milc_qcd-7.8.0/ks_imp_dyn/su3_rmd

MiniDFT-1.1.1/src/mini_dft

UMT-2.0/make.defs
UMT-2.0/Teton/SuOlsonTest
